@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body,
ul,
ol,
li,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: 300;
}

.desktop {
  width: 100vw;
  height: calc(100vh - 3rem);
}
.desktop__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 10rem;
  padding: 1.5rem 1rem;
}
.desktop__icon__image {
  width: 3rem;
  padding-bottom: 0.5rem;
}
.desktop__icon__image--active {
  background: #011590;
  opacity: 0.8;
}
.desktop__icon__title--active {
  background: #011590;
  opacity: 0.8;
}
.desktop__window {
  position: absolute;
  color: white;
  background: #b9b9b9;
  width: 50rem;
  min-width: 10rem;
  max-width: 100%;
  height: 30rem;
  min-height: 10rem;
  max-height: 100%;
  resize: both;
  overflow: hidden;
}
.desktop__window__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #000b7c, #377cc6);
  padding: 0.4rem;
}
.desktop__window__header__control-container {
  display: flex;
}
.desktop__window__header__control {
  cursor: pointer;
  background: #c0c0c0;
  height: 1rem;
  width: 1rem;
  font-family: Arial Black, sans-serif;
  box-sizing: border-box;
  font-size: 0.75rem;
  position: relative;
  color: #000000;
  line-height: 1rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop__window__header__control--minimize::before {
  content: "";
  background: #000000;
  width: 10px;
  position: relative;
  top: 3px;
  height: 3px;
}
.desktop__window__header__control--maximize::before {
  content: "";
  width: 0.8rem;
  border: 2px solid black;
  border-top: 4px solid black;
  height: 0.8rem;
  margin-bottom: 1px;
}
.desktop__window__header__control--reset {
  justify-content: flex-start;
  position: relative;
}
.desktop__window__header__control--reset::before {
  content: "";
  position: absolute;
  background: #c0c0c0;
  width: 12px;
  height: 12px;
  border: 2px solid black;
  border-top: 3px solid black;
  left: 3px;
  bottom: 6px;
}
.desktop__window__header__control--reset::after {
  content: "";
  position: absolute;
  background: #c0c0c0;
  width: 12px;
  height: 12px;
  border: 2px solid black;
  border-top: 3px solid black;
}
.desktop__window__header__control--close::before {
  content: "✖";
  font-size: 17px;
  margin-bottom: 4px;
}

.box-shadow {
  box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
}
.box-shadow--active {
  box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px black, -4px 0 black, 0 -4px black, 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede, 2px -2px #818181, -2px 2px #e0dede, -4px 2px black, -4px 4px white, 4px 4px white, 4px 0 white, 0 4px white, 2px -4px black, 4px -4px white;
}

.start-bar {
  position: absolute;
  bottom: 0;
  z-index: 9001;
  display: flex;
  align-items: center;
  background: #C0C0C0;
  height: 3rem;
  width: 100%;
  padding: 0 0.5rem;
  box-shadow: 0 -2px #fffdfc, 0 -4px #cce9eb;
}
.start-bar__start-button {
  background-image: url("/assets/start-button.png");
  background-repeat: no-repeat;
  background-position: 0.25rem;
  background-size: auto 80%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 2.25rem;
  min-width: 105px;
  width: 6.5rem;
}
.start-bar__start-menu {
  display: flex;
  position: absolute;
  bottom: 3.25rem;
  left: 0.5rem;
  width: 25rem;
  background: #C0C0C0;
}
.start-bar__start-menu__title {
  display: flex;
  font-family: Arial Black, sans-serif;
  background: #011590;
  color: #ffffff;
  font-size: 24px;
  font-weight: 900;
  padding: 0.5rem;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
}
.start-bar__start-menu__title span {
  font-family: Arial, sans-serif;
  font-weight: 300;
}
.start-bar__start-menu__program {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  padding: 1rem;
}
.start-bar__start-menu__program--line-below {
  box-shadow: 0 2px #808280, 0 4px white;
}
.start-bar__start-menu__program:hover {
  background: #0c1b98;
  color: #ffffff;
}
.start-bar__start-menu__program__container {
  width: 100%;
}
.start-bar__start-menu__program__icon {
  width: 1.5rem;
  margin-right: 1rem;
}
.start-bar__program {
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 70%;
  min-width: 8rem;
  width: 12rem;
  margin-left: 1rem;
}
.start-bar__program__icon {
  width: 1.5rem;
  margin: 0 0.5rem;
}
.start-bar__program__title {
  text-overflow: ellipsis;
}
.start-bar__program-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 1rem;
  height: 100%;
}
.start-bar__program-container::before {
  content: "";
  height: 2.5rem;
  width: 2px;
  background: #f2f2f2;
  box-shadow: 1px 1px 0 #818181;
}
.start-bar__time-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  width: 6rem;
  box-shadow: 0 2px white, 0 -2px #7d7d7d, -2px -2px #7d7d7d, 2px 2px white, -2px 2px #7d7d7d, 2px -2px white;
}

.background {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #008282;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/_base.scss%22,%22../scss/_desktop.scss%22,%22../scss/_shadows.scss%22,%22../scss/_start-bar.scss%22,%22../scss/site.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAA;AAAA;AAAA;EAGE;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;AAAA;AAAA;AAAA;AAAA;AAAA;EAME;;;AAGF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EASE;EACA;EACA;EACA;;;ACnCF;EACE;EACA;;AAEA;EACE;EACA;EACA;EAEA;EAEA;EAEA;;AAEA;EACE;EACA;;AAEA;EACE;EACA;;AAKF;EACE;EACA;;AAKN;EACE;EAEA;EAEA;EAEA;EACA;EACA;EAEA;EACA;EACA;EAEA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EAEA;EACA;EAEA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGE;EACE;EACA;EACA;EACA;EACA;EACA;;AAKF;EACE;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACE;EACA;;AAEA;EAEE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EAEE;EACA;EACA;EACA;EACA;EACA;EACA;;AAKF;EACE;EACA;EACA;;;ACxIZ;EACE;;AAmBA;EACE;;;ACrBF;EACE;EACA;EACA;EAEA;EACA;EAEA;EAEA;EACA;EAEA;EAEA;;AAEA;EACE;EACA;EACA;EACA;EACA;EAEA;EAEA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EAEA;EACA;;AAEA;EACE;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAIJ;EAME;EACA;EACA;EAEA;EAEA;;AAXA;EACE;;AAYF;EACE;EACA;;AAGF;EACE;;AAGF;EACE;EACA;;AAKN;EACE;EACA;EAEA;EAEA;EACA;EACA;EAEA;;AAEA;EACE;EACA;;AAGF;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAKN;EACE;EACA;EACA;EAEA;EACA;EAEA;;;AClIN;EACE;EACA;EACA;EACA;;;AAGF;EACE%22,%22file%22:%22site.css%22%7D */
