@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body,
ul,
ol,
li,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: 300;
}

.desktop {
  width: 100vw;
  width: 100svw;
  height: calc(100vh - 3rem);
  height: calc(100svh - 3rem);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
.desktop__icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 10rem;
  padding: 1.5rem 1rem;
}
.desktop__icon__image {
  width: 3rem;
  padding-bottom: 0.5rem;
}
.desktop__icon__image--active {
  background: #011590;
  opacity: 0.8;
}
.desktop__icon__title--active {
  background: #011590;
  opacity: 0.8;
}
.desktop__window {
  position: absolute;
  color: white;
  background: #b9b9b9;
  width: 30rem;
  max-width: 100%;
  height: 30rem;
  max-height: 100%;
  resize: both;
  overflow: hidden;
}
.desktop__window__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #000b7c, #377cc6);
  padding: 0.4rem;
}
.desktop__window__header__control-container {
  display: flex;
}
.desktop__window__header__control {
  cursor: pointer;
  background: #c0c0c0;
  height: 1rem;
  width: 1rem;
  font-family: Arial Black, sans-serif;
  box-sizing: border-box;
  font-size: 0.75rem;
  position: relative;
  color: #000000;
  line-height: 1rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop__window__header__control--minimize::before {
  content: "";
  background: #000000;
  width: 10px;
  position: relative;
  top: 3px;
  height: 3px;
}
@media (max-width: 649px) {
  .desktop__window__header__control--maximize {
    display: none;
  }
}
.desktop__window__header__control--maximize::before {
  content: "";
  width: 0.8rem;
  border: 2px solid black;
  border-top: 4px solid black;
  height: 0.8rem;
  margin-bottom: 1px;
}
.desktop__window__header__control--reset {
  justify-content: flex-start;
  position: relative;
}
@media (max-width: 649px) {
  .desktop__window__header__control--reset {
    display: none;
  }
}
.desktop__window__header__control--reset::before {
  content: "";
  position: absolute;
  background: #c0c0c0;
  width: 12px;
  height: 12px;
  border: 2px solid black;
  border-top: 3px solid black;
  left: 3px;
  bottom: 6px;
}
.desktop__window__header__control--reset::after {
  content: "";
  position: absolute;
  background: #c0c0c0;
  width: 12px;
  height: 12px;
  border: 2px solid black;
  border-top: 3px solid black;
}
.desktop__window__header__control--close::before {
  content: "✖";
  font-size: 17px;
  margin-bottom: 4px;
}
.desktop__window__option {
  color: #000000;
  padding-right: 1rem;
  opacity: 50%;
}
.desktop__window__option::first-letter {
  text-decoration: underline;
}
.desktop__window__option-container {
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
  position: relative;
  box-shadow: 0 2px #808280, 0 4px white;
}
.desktop__window__option-container::before {
  content: "";
  position: absolute;
  left: 0.25rem;
  height: 1rem;
  width: 2px;
  background: #f2f2f2;
  box-shadow: 1px 1px 0 #818181;
}

.box-shadow {
  box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
}
.box-shadow--active {
  box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px black, -4px 0 black, 0 -4px black, 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede, 2px -2px #818181, -2px 2px #e0dede, -4px 2px black, -4px 4px white, 4px 4px white, 4px 0 white, 0 4px white, 2px -4px black, 4px -4px white;
}

.start-bar {
  position: absolute;
  bottom: 0;
  z-index: 9001;
  display: flex;
  align-items: center;
  background: #C0C0C0;
  height: 3rem;
  width: 100%;
  padding: 0 0.5rem;
  box-shadow: 0 -2px #fffdfc, 0 -4px #cce9eb;
}
.start-bar__start-button {
  background-image: url("/assets/start-button.png");
  background-repeat: no-repeat;
  background-position: 0.25rem;
  background-size: auto 80%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 2.25rem;
  min-width: 105px;
  width: 6.5rem;
  position: relative;
}
@media (max-width: 768px) {
  .start-bar__start-button {
    background-image: url("/assets//windows.png");
    background-position: center center;
    min-width: 3rem;
    width: 3rem;
  }
}
.start-bar__start-button::after {
  content: "";
  position: absolute;
  right: -1rem;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 2.5rem;
  width: 2px;
  background: #f2f2f2;
  box-shadow: 1px 1px 0 #818181;
}
.start-bar__start-menu {
  display: flex;
  position: absolute;
  bottom: 3.25rem;
  left: 0.5rem;
  width: 25rem;
  background: #C0C0C0;
}
@media (max-width: 768px) {
  .start-bar__start-menu {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 98%;
  }
}
.start-bar__start-menu__title {
  display: flex;
  font-family: Arial Black, sans-serif;
  background: #011590;
  color: #ffffff;
  font-size: 24px;
  font-weight: 900;
  padding: 0.5rem;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
}
.start-bar__start-menu__title span {
  font-family: Arial, sans-serif;
  font-weight: 300;
}
.start-bar__start-menu__title__copyright {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: auto;
}
.start-bar__start-menu__program {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  padding: 1rem;
}
.start-bar__start-menu__program--line-below {
  box-shadow: 0 2px #808280, 0 4px white;
}
.start-bar__start-menu__program:hover {
  background: #0c1b98;
  color: #ffffff;
}
.start-bar__start-menu__program__container {
  width: 100%;
}
.start-bar__start-menu__program__icon {
  width: 1.5rem;
  margin-right: 1rem;
}
.start-bar__start-menu__program__title::first-letter {
  text-decoration: underline;
}
.start-bar__program {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  font-weight: 600;
  height: 70%;
  min-width: 8rem;
  width: 12rem;
  margin-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 768px) {
  .start-bar__program {
    width: auto;
  }
}
@media (max-width: 649px) {
  .start-bar__program {
    min-width: auto;
    padding-right: 0;
  }
}
.start-bar__program:first-child {
  margin-left: 0;
}
.start-bar__program__icon {
  width: 1.5rem;
  margin: 0 0.5rem;
}
.start-bar__program__title {
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 649px) {
  .start-bar__program__title {
    display: none;
  }
}
.start-bar__program-container--wrapper {
  flex-grow: 1;
  margin: 0 1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.start-bar__program-container--wrapper::before {
  content: "";
  z-index: 1;
  pointer-events: none;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #c0c0c0 90%);
  width: 1rem;
  height: 3rem;
  position: absolute;
  left: 1px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.start-bar__program-container--wrapper::after {
  content: "";
  z-index: 1;
  pointer-events: none;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #c0c0c0 90%);
  width: 1rem;
  height: 3rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.start-bar__program-container {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  height: 100%;
  padding: 0 1rem;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.start-bar__program-container::-webkit-scrollbar {
  display: none;
}
.start-bar__time-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  min-width: 3rem;
  width: 6rem;
  box-shadow: 0 2px white, 0 -2px #7d7d7d, -2px -2px #7d7d7d, 2px 2px white, -2px 2px #7d7d7d, 2px -2px white;
  position: relative;
}
.start-bar__time-box a {
  display: flex;
  text-decoration: none;
}
.start-bar__time-box a img {
  width: 1.5rem;
}
.start-bar__time-box::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 2.5rem;
  width: 2px;
  background: #f2f2f2;
  box-shadow: 1px 1px 0 #818181;
}

.background {
  position: relative;
  height: 100vh;
  height: 100svh;
  width: 100vw;
  width: 100svw;
  background: #008282;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/_base.scss%22,%22../scss/_desktop.scss%22,%22../scss/_shadows.scss%22,%22../scss/_start-bar.scss%22,%22../scss/site.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAA;AAAA;AAAA;EAGE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;AAAA;AAAA;AAAA;AAAA;AAAA;EAME;;;AAGF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EASE;EACA;EACA;EACA;;;ACjCF;EACE;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EAEA;EAEA;EAEA;;AAEA;EACE;EACA;;AAEA;EACE;EACA;;AAKF;EACE;EACA;;AAKN;EACE;EAEA;EAEA;EAEA;EACA;EAEA;EACA;EAEA;EACA;;AAGA;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EAEA;EACA;EAEA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGE;EACE;EACA;EACA;EACA;EACA;EACA;;AAKF;EADF;IAEI;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;AAIJ;EAKE;EACA;;AALA;EADF;IAEI;;;AAMF;EAEE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EAEE;EACA;EACA;EACA;EACA;EACA;EACA;;AAKF;EACE;EACA;EACA;;AAMR;EACE;EACA;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;;ACtLV;EACE;;AAmBA;EACE;;;ACnBF;EACE;EACA;EACA;EAEA;EACA;EAEA;EAEA;EACA;EAEA;EAEA;;AAEA;EAQE;EACA;EACA;EACA;EACA;EAEA;EAEA;EACA;EACA;EACA;EAEA;;AApBA;EADF;IAEI;IACA;IACA;IACA;;;AAkBF;EACE;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;;AAIJ;EASE;EACA;EACA;EACA;EAEA;EACA;;AAdA;EADF;IAEI;IACA;IACA;IACA;IACA;;;AAWF;EACE;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAIJ;EACE;EAOA;EACA;EACA;EAEA;EAEA;;AAXA;EACE;;AAYF;EACE;EACA;;AAGF;EACE;;AAGF;EACE;EACA;;AAIA;EACE;;AAMR;EAcE;EAEA;EACA;EACA;EAEA;EAEA;EACA;EACA;EAEA;EAEA;;AA3BA;EADF;IAEI;;;AAGF;EALF;IAMI;IACA;;;AAGF;EACE;;AAmBF;EACE;EACA;;AAGF;EAKE;EACA;;AALA;EADF;IAEI;;;AAOJ;EACE;EACA;EACA;EAEA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACE;EACA;EACA;EACA;EACA;EAMA;AACA;EACA;AACA;;AAPA;EACE;;AAUN;EACE;EACA;EACA;EAEA;EAEA;EACA;EAEA;EAgBA;;AATA;EACE;EACA;;AAEA;EACE;;AAMJ;EACE;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;;;AC9QR;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE%22,%22file%22:%22site.css%22%7D */
