@use 'viewports';

.desktop {
  width: 100vw;
  width: 100svw;
  height: calc(100vh - 3rem);
  height: calc(100svh - 3rem);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  &__icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #ffffff;

    width: 10rem;

    padding: 1.5rem 1rem;

    &__image {
      width: 3rem;
      padding-bottom: 0.5rem;

      &--active {
        background: #011590;
        opacity: 0.8;
      }
    }

    &__title {
      &--active {
        background: #011590;
        opacity: 0.8;
      }
    }
  }

  &__window {
    position: absolute;

    color: white;

    background: #b9b9b9;

    width: 30rem;
    max-width: 100%;

    height: 30rem;
    max-height: 100%;

    resize: both;
    overflow: hidden;


    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(90deg, #000b7c, #377cc6);
      padding: 0.4rem;

      &__control-container {
        display: flex;
      }

      &__control {
        cursor: pointer;
        background: #c0c0c0;

        height: 1rem;
        width: 1rem;

        font-family: Arial Black, sans-serif;
        box-sizing: border-box;

        font-size: 0.75rem;
        position: relative;
        color: #000000;
        line-height: 1rem;
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &--minimize {
          &::before {
            content: '';
            background: #000000;
            width: 10px;
            position: relative;
            top: 3px;
            height: 3px;
          }
        }

        &--maximize {
          @media (max-width: viewports.$large-mobile) {
            display: none;
          }

          &::before {
            content: '';
            width: 0.8rem;
            border: 2px solid black;
            border-top: 4px solid black;
            height: 0.8rem;
            margin-bottom: 1px;
          }
        }

        &--reset {
          @media (max-width: viewports.$large-mobile) {
            display: none;
          }

          justify-content: flex-start;
          position: relative;

          &::before {
            //behind
            content: '';
            position: absolute;
            background: #c0c0c0;
            width: 12px;
            height: 12px;
            border: 2px solid black;
            border-top: 3px solid black;
            left: 3px;
            bottom: 6px;
          }

          &::after {
            //front
            content: '';
            position: absolute;
            background: #c0c0c0;
            width: 12px;
            height: 12px;
            border: 2px solid black;
            border-top: 3px solid black;
          }
        }

        &--close {
          &::before {
            content: '\2716';
            font-size: 17px;
            margin-bottom: 4px;
          }
        }
      }
    }

    &__option {
      color: #000000;
      padding-right: 1rem;
      opacity: 50%;

      &::first-letter {
        text-decoration: underline;
      }

      &-container {
        display: flex;
        width: 100%;
        padding: 0.5rem 1rem;
        position: relative;
        box-shadow: 0 2px #808280, 0 4px white;

        &::before {
          content: '';
          position: absolute;
          left: 0.25rem;
          height: 1rem;
          width: 2px;
          background: #f2f2f2;
          box-shadow: 1px 1px 0 #818181;
        }
      }
    }
  }
}