@use 'viewports';

.desktop {
  width: 100vw;
  width: 100svw;
  height: calc(100vh - 3rem);
  height: calc(100svh - 3rem);

  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  &__icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #ffffff;

    width: 10rem;

    padding: 1.5rem 1rem;

    &__image {
      width: 3rem;
      padding-bottom: 0.5rem;

      &--active {
        background: #011590;
        opacity: 0.8;
      }
    }

    &__title {
      &--active {
        background: #011590;
        opacity: 0.8;
      }
    }
  }

  &__window {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    background: #b9b9b9;
    resize: both;
    overflow: hidden;
    height: 30rem;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(90deg, #000b7c, #377cc6);
      padding: 0.4rem;

      &__control-container {
        display: flex;
      }

      &__control {
        cursor: pointer;
        background: #c0c0c0;

        height: 1rem;
        width: 1rem;

        font-family: Arial Black, sans-serif;
        box-sizing: border-box;

        font-size: 0.75rem;
        position: relative;
        color: #000000;
        line-height: 1rem;
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &--minimize {
          &::before {
            content: '';
            background: #000000;
            width: 10px;
            position: relative;
            top: 3px;
            height: 3px;
          }
        }

        &--maximize {
          @media (max-width: viewports.$large-mobile) {
            display: none;
          }

          &::before {
            content: '';
            width: 0.8rem;
            border: 2px solid black;
            border-top: 4px solid black;
            height: 0.8rem;
            margin-bottom: 1px;
          }
        }

        &--reset {
          @media (max-width: viewports.$large-mobile) {
            display: none;
          }

          justify-content: flex-start;
          position: relative;

          &::before {
            //behind
            content: '';
            position: absolute;
            background: #c0c0c0;
            width: 12px;
            height: 12px;
            border: 2px solid black;
            border-top: 3px solid black;
            left: 3px;
            bottom: 6px;
          }

          &::after {
            //front
            content: '';
            position: absolute;
            background: #c0c0c0;
            width: 12px;
            height: 12px;
            border: 2px solid black;
            border-top: 3px solid black;
          }
        }

        &--close {
          &::before {
            content: '\2716';
            font-size: 17px;
            margin-bottom: 4px;
          }
        }
      }
    }

    &__option {
      color: #000000;
      padding-right: 1rem;
      opacity: 50%;

      &::first-letter {
        text-decoration: underline;
      }

      &-container {
        display: flex;
        width: 100%;
        padding: 0.5rem 1rem;
        position: relative;
        box-shadow: 0 2px #808280, 0 3px white;

        &::before {
          content: '';
          position: absolute;
          left: 0.25rem;
          top: 0.4rem;
          height: 1.5rem;
          width: 2px;
          background: #f2f2f2;
          box-shadow: 1px 1px 0 #818181;
        }
      }
    }

    &__address {
      &-bar {
        display: flex;
        align-items: center;
        height: 1.5rem;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);

        margin-left: 1rem;

        &__content {
          height: 100%;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          overflow: hidden;
          flex-grow: 1;
        }

        &__image {
          width: 1rem;
          margin-left: 0.5rem;
        }

        &__title {
          overflow: hidden;
          text-wrap: nowrap;
          margin-left: 0.5rem;
        }

        &__control {
          background: #c0c0c0;

          height: 80%;
          width: 1.2rem;

          font-family: Arial Black, sans-serif;
          box-sizing: border-box;

          font-size: 0.75rem;
          position: relative;
          color: #000000;
          line-height: 1rem;
          margin-left: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1px;

          &::before {
            content: '\25BC';
          }
        }
      }

      &-container {
        color: black;
        font-size: 14px;

        display: flex;
        align-items: center;

        width: 100%;
        padding: 6px 1rem 4px 1rem;
        position: relative;
        box-shadow: 0 2px #808280, 0 3px white;

        &::before {
          content: '';
          position: absolute;
          left: 0.25rem;
          top: 0.4rem;
          height: 1.5rem;
          width: 2px;
          background: #f2f2f2;
          box-shadow: 1px 1px 0 #818181;
        }
      }
    }

    &__content {
      display: flex;
      flex-grow: 1;
      margin: 0.25rem;
      margin-top: 0.5rem;
      padding: 1rem;

      &--system {
        margin: 0.5rem;
        margin-top: 2.5rem;

        position: relative;
        background: #b9b9b9;

        .system {
          &__tab {
            &__button {
              cursor: pointer;
              font-size: 14px;
              z-index: -1;
              color: black;
              display: flex;
              align-items: center;
              background: #b9b9b9;
              padding: 0 1rem;
              position: relative;
              border-radius: 3px 3px 0 0;
              pointer-events: auto;
              box-shadow: inset -1px 0 #0a0a0a,
                inset 2px 1px #dfdfdf,
                inset -2px 0px grey,
                inset 1px 2px #fff;

              &--active {
                z-index: 0;
              }
            }

            &-container {
              display: flex;
              position: relative;
              top: -3rem;
              left: -18px;
              height: 2rem;
              pointer-events: none;
            }

            &__content {
              position: absolute;
              width: 80%;
              height: 90%;
              left: 50%;
              top: 5%;
              transform: translate(-50%, 0);

              &--general {
                display: flex;
                flex-direction: column;
                align-items: center;

                .text {
                  &-container {
                    justify-content: center;
                    color: black;
                    font-size: 16px;
                    width: 100%;

                    display: flex;
                  }

                  &__section {
                    font-family: Classic Console, sans-serif;
                    padding: 1rem;

                    &__title {
                      font-weight: 600;
                      margin-bottom: 0.5rem;
                    }

                    &__text {
                      margin-bottom: 0.5rem;
                    }
                  }
                }

                .computer {
                  position: relative;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 75%;
                  width: 100%;

                  &__button {
                    cursor: pointer;
                    position: absolute;
                    background: linear-gradient(to bottom, darkgreen, lightgreen 50%);
                    width: 1rem;
                    height: 0.5rem;
                    right: 1.5rem;
                    bottom: 0.3rem;
                    animation: pulse-animation 2s infinite;

                    @keyframes pulse-animation {
                      0% {
                        box-shadow: 0 0 0 0 rgba(69, 240, 120, 0.5);
                      }

                      100% {
                        box-shadow: 0 0 0 1rem rgba(69, 240, 120, 0);
                      }
                    }
                  }

                  &__screen {
                    width: 85%;
                    height: 80%;
                    background: #008282;
                    background-image: url('../../assets/images/windows_wallpaper.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                  }

                  &__stand {
                    width: 50%;
                    height: 8%;

                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #b9b9b9);
                    box-shadow: -2px 0px #e0dede,
                      -2px 0 #e0dede,
                      -4px 0px white,
                      -4px 0 white,
                      2px 2px #818181,
                      0 2px #818181,
                      2px 0 #818181,
                      2px 0px #e0dede,
                      -2px 2px #818181,
                      -4px 2px white,
                      -4px 4px black,
                      4px 4px black,
                      4px 0 black,
                      0 4px black,
                      2px 0px white,
                      4px 0px black
                  }

                  &__base {
                    width: 90%;
                    height: 5%;
                    background: #b9b9b9;
                    border-radius: 1rem 1rem 0 0;
                  }

                  &-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    width: 18rem;
                    height: 18rem;
                  }
                }
              }
            }
          }
        }
      }

      &--black {
        display: flex;
        flex-direction: column;
        background: #000000;
        font-family: Classic Console;
        color: white;
        line-height: 1.2rem;
        overflow-y: scroll;

        .terminal__job {
          margin-top: 1rem;

          ul {
            list-style-type: none;

            li {
              padding-left: 1rem;
              font-family: Classic Console;
              margin: 0.5rem;
            }
          }

          .terminal--pink {
            color: #FF55FF;
          }

          .terminal--cyan {
            color: #55FFFF;
          }

          .terminal--green {
            color: #55FF55;
          }
        }
      }

      &--contact {
        color: #000000;

        .contact-info {
          display: flex;
          align-items: center;
          margin-bottom: 1.5rem;

          &__image {
            width: 2rem;
          }

          &__text {
            margin-left: 1rem;
          }

          &__container {
            display: flex;
            flex-direction: column;
          }
        }
      }

      &--notepad {
        background: #ffffff;

        .notepad {
          color: black;

          &__line {
            width: fit-content;
            line-height: 1.5rem;

            &--name {
              font-weight: bold;
              text-decoration: underline;
            }

            &--spacer {
              margin-bottom: 1rem;
            }

            &:last-child {
              border-right: 1px solid black;
              -webkit-animation: cursorBlink 1s step-end infinite;
              animation: cursorBlink 1s step-end infinite;

              @-webkit-keyframes cursorBlink {

                from,
                to {
                  border-color: transparent
                }

                50% {
                  border-color: black
                }
              }

              @keyframes cursorBlink {

                from,
                to {
                  border-color: transparent
                }

                50% {
                  border-color: black
                }
              }
            }
          }
        }
      }
    }
  }
}