@import '_base';
@import '_desktop';
@import '_shadows';
@import '_start-bar';

.background {
  position: relative;
  height: 100vh;
  height: 100svh;
  width: 100vw;
  width: 100svw;
  background: #008282;
  overflow: hidden;
}

.hidden {
  display: none !important;
}